$orangeColor: #ff9800;
$blueColor: #0075ff;
$blueAltColor: #0d69d5;
$redColor: #f44336;
$greenColor: #22c55e;
$darkColor: #191919;
$lightCyanColor: #c2defd;
$cyanColor: #90caf9;
$lightGreyColor: #eeeeee;
$darkGreyColor: #777;
$yellowColor: #ffde03;
$darkYellowColor: #ffc000;
